.ng-select .ng-select-container .ng-value-container .ng-value,
.ng-select .ng-select-container .ng-value-container .ng-input > input,
.ng-select .ng-select-container .ng-placeholder {
  color: black !important;
}

.ng-value {
  background-color: #ebf5ff !important;
}
