<div class="auth-page-wrapper pt-5">
    <div class="toast-container">
        <div class="alert alert-danger shadow"
            *ngIf="errorMessage">
            {{ errorMessage }}
        </div>

        <div class="alert alert-success shadow"
            *ngIf="successMessage">
            {{ successMessage }}
        </div>
    </div>
    <div class="auth-page-content">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-2 mb-4 text-white-50">
                        <h1>SAKTI</h1>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-body p-4">

                            <h4 class="text-center mb-4">
                                Aktivasi Akun
                            </h4>

                            <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">

                                <div class="mb-3 position-relative">
                                    <label class="form-label">Password Baru</label>

                                    <input
                                        [type]="showPassword ? 'text' : 'password'"
                                        class="form-control pe-5"
                                        formControlName="password">

                                    <i
                                        class="ri-eye-line position-absolute"
                                        style="right: 10px; top: 38px; cursor: pointer;"
                                        (click)="showPassword = !showPassword">
                                    </i>
                                </div>

                                <div class="mb-3 position-relative">
                                    <label class="form-label">Konfirmasi Password</label>

                                    <input
                                        [type]="showConfirmPassword ? 'text' : 'password'"
                                        class="form-control pe-5"
                                        formControlName="confirmPassword">

                                    <i
                                        class="ri-eye-line position-absolute"
                                        style="right: 10px; top: 38px; cursor: pointer;"
                                        (click)="showConfirmPassword = !showConfirmPassword">
                                    </i>
                                </div>
                                <div class="alert alert-warning">
                                    <ul class="list-group p-2">
                                        <li>Password harus memiliki minimal 8 karakter</li>
                                        <li>Password harus mengandung setidaknya satu huruf besar, satu huruf kecil, dan satu angka</li>
                                        <li>Password harus mengandung karakter khusus seperti &#64;, &#35;, &#36;, dll</li>
                                    </ul>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-success"
                                            type="submit"
                                            [disabled]="form.invalid || loading">
                                        {{ loading ? 'Memproses...' : 'Aktivasi' }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
